// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Lib
@import "lib/animations";
@import "lib/var";
@import "lib/fonts";
@import "lib/mixins";
@import "lib/placeholders";
@import "lib/Hillsrion";

// Layout
@import "component/header";
@import "component/footer";

// Component
@import "component/home";
@import "component/actualites";
@import "component/about";
@import "component/contact";
@import "component/useful";
@import "component/chiffres";
@import "component/admin";
@import "component/article";
@import "component/email";
@import "component/faq";
@import "component/404";
@import "component/modal";

//Style
html, body {
  width: 100%;
  color: $black;
  font-family: $font-light;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.is-hidden {
  display: none;
}
@include addon-grid(); // Some fixes for bothering defauts of flexgrid we're using.
