// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Lib
@import "lib/animations";
@import "lib/var";
@import "lib/fonts";
@import "lib/mixins";
@import "lib/Hillsrion";

// Component
@import "component/header";
@import "component/footer";
@import "component/home";

//Style
html, body {
  width: 100%;
  color: $black;
  font-family: $font-light;
}

@include addon-grid(); // Some fixes for bothering defauts of flexgrid we're using. 
