// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Lib
@import "lib/animations";
@import "lib/var";
@import "lib/fonts";
@import "lib/mixins";
@import "lib/Hillsrion";

// Layout
@import "component/header";
@import "component/footer";

// Component
@import "component/home";
@import "component/actualites";
@import "component/about";
@import "component/contact";
@import "component/useful";
@import "component/chiffres";
@import "component/admin";


//Placeholders
%fixheight {
  &.row {
    height: auto;
  }
}

.rowfix {
  @extend %fixheight;
}

//Style
html, body {
  width: 100%;
  color: $black;
  font-family: $font-light;
}

@include addon-grid(); // Some fixes for bothering defauts of flexgrid we're using.
