.admin {
  .admin-menu {
    background-color: $blue;
    height: 100vh;
    color: white;
    &.col-custom {
      @include custom-col(20%);
    }
    &__logo {
      @include fixheight(200px);
      background-color: #fff;
      margin: 10px;
    }
    &__nav {
      @include fixheight(auto);
      a {
          @include link-off;
      }
    }
    &__list {
      height: calc(100vh - 260px);
      display: flex;
      flex-direction: column;
    }
    &__item {
      font-size: 18px;
      font-family: $font-semibold;
      letter-spacing: 0.02rem;
      @include fixheight(40px);
      &:last-child {
        margin-top: auto;
      }
    }
  } // end menu
  .admin-content {
    height: 100vh;
    overflow-y: scroll;
    .articles-list {
      .article {
        margin-top: 20px;
        @include link-off();
        .wrapper {
          border: 1px solid grey;
          @include fixheight(inherit);
        }
      }
      .article-add {
        margin-top: 15px;
        padding: 5px 10px;
        color: white;
        background-color: $yellow;
      }
    } // end articles-list
    .article {
      @include fixheight(auto);
      margin-top: 30px;
    }
    .article-create {
      margin-top: 30px;
    }
    .temoignages-list {
      .row {
        @include fixheight(auto);
      }
    }
    .temoignage {
      margin-top: 15px;
      img {
        max-width: 100px; // for now.
        max-height:100px;
      }
    }
    .temoignage-create {
      margin-top: 30px;
    }
    .partenaires-list {
      img {
        max-width: 100px; // for now.
        max-height:100px;
      }
      a {
        @include link-off;
      }
      .partenaire-add {
        display: flex;
        justify-content: center;
        span {
          margin-top: 15px;
          padding: 5px 10px;
          color: white;
          background-color: $yellow;
        }
      } // end partenaire-add;
    } // end partenaire list ;
    .partenaire {
      img {
        max-width: 100px; // for now.
        max-height:100px;
      }
    }
    .partenaire-create {
      margin-top: 30px;
    }
    .slider-list {
      .slide {
        @include fixheight(400px);
        &__bg {
          @include bg-regular;
        }
        &__edit {
          padding: 5px 10px;
          color: white;
          background-color: $yellow;
        }
      }
      .slide-add {
        @extend %admin-button;
      }
    } // end slider-list
    .slide {
      &__cover {
        @include bg-regular;
        @include fixheight(60vh);
      }
      &__form {
        margin-top: 20px;
        input {
          margin-right: 10px ;
        }
      }
    }
  }
}
