.header {
  @include reset();
  height: 100px;
  $responsive-menu-size: 620px;
  a {
    @include link-off();
  }
  &__logo {
    margin-top: 5px;
    max-width: 200px;
    overflow: hidden;
    padding-left: 20px;
    svg {
      height: 90px;
    }
  }
  .header__right {
    @include flex-end(x);
    .head-upper {
      border-bottom: 1px solid $yellow;
      height: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .socials {
        @include flex-middle(y);
        padding-right: 20px;
        &__text {
          @include hidden(490px);
          text-align: center;
          font-family: $font;
          font-variant: small-caps;
          font-size: 19px;
          padding-right: 10px;
          color: $blue;
        }
        &__icon {
          padding: 15px;
          transition: color .15s ease;
          &:hover {
            color: $yellow;
          }
        }
      }
    } // end head-upper
    .head-nav {
      height: 50px;
      color: $black;
      font-family: $font;
      font-size: 18px;
      @include flex-middle(y);
      > .row {
        height: 100%;
      }
      .responsive-menu {
        display: none;
        cursor: pointer;
        padding-right: 20px;
        -moz-transition: transform .3s $easeInOutCubic;
        transition: transform .3s $easeInOutCubic;
        @media screen and (max-width: $responsive-menu-size) {
          @include flex-middle(xy);
        }
        &__text {
          font-family: $font-bold;
          font-size: 19px;
          padding-right: 10px;
        }
        &__icons {
          $bar-value: 3px;
          width: 20px;
          height: $bar-value;
          background-color: $black;
          position: relative;
          -moz-transition: transform .3s $easeInOutCubic;
          transition: transform .3s $easeInOutCubic;
          &:before,&:after {
            -moz-transition: transform .3s $easeInOutCubic;
            transition: transform .3s, width .3s $easeInOutCubic;
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: $bar-value;
            background-color: $black;
          }
          &:before {
            transform: translate3d(0,-5px,0);
          }
          &:after {
            transform: translate3d(0,5px,0);
          }
          &--open {
            transform: rotate3d(0, 0, 1, 90deg) scale3d(0.8, 0.8, 0.8);
            &:before {
              transform: translate3d(8px,-4px,0) rotate3d(0, 0, 1, 45deg);
              width: 70%;
            }
            &:after {
              transform: translate3d(8px,4px,0) rotate3d(0, 0, 1, -45deg);
              width: 70%;
            }
          }
        }
      }
      .main-nav {
        height: 100%;
        @include hidden($responsive-menu-size);
        &__list {
          @include reset();
          list-style: none;
          height: inherit;
          @media screen and (max-width: 630px) {
            font-size: 17px;
          }
        }
        &__item {
          text-align: center;
          height: 100%;
          @include flex-middle(xy);
          overflow: hidden;
          a {
            -moz-transition: transform .35s $easeInOutCubic;
            transition: transform .35s $easeInOutCubic;
            position: relative;
            min-width: 70%;
            &:before {
              content: attr(data-hover);
              font-family: $font-semibold;
              color: $yellow;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: transparent;
              transform: translate3d(0,-40px,0);
            }
          }
          &:hover a {
            transform: translate3d(0,40px,0);
          }
        }
      } //end main-nav
    }
    &__socials {
      @include flex-middle(y);
      @media screen and (max-width: 460px) {
        @include flex-end(x);
      }
      .social-icon {
        @include flex-middle(xy);
        @include colorToBg($blue,white, .3s,ease-out);
        width: 35px;
        height: 35px;
        color: $blue;
        border: 2px solid $blue;
        margin-right: 10px;
        a {
          @include link-off();
        }
        i {
          font-size: 21px;
        }
      }
    } // end socials
  } // end header__right
  &__secondary-nav {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: lighten($black,7%);
    display: none;
    z-index: 2;
    @media screen and (min-width: $responsive-menu-size) {
      display: none !important;
    }
    .secondary-nav {
      &__list {
        list-style: none;
        margin: 0;
        padding-left: 30px;

      }
      &__item {
        @include flex-middle(y);
        height: 50px;
        color: white;
        font-family: $font-semibold;
        border-bottom: 1px solid darken($grey,20%);
        a {
          -moz-transition: transform .3s ease;
          transition: transform .3s ease;
        }
        &:hover a{
          transform: translate3d(20px,0,0);
        }
      }
    }
  }
}

// Toolbox
.toolbox{
  display: table;
  width: 290px;
  height: 155px;
  position: fixed;
  left: 100%;
  top: 20%;
  border-left: $yellow 40px solid;
  cursor: pointer;
  background-color: white;
  z-index: 10;
  transform: translate3d(-40px,0,0);
  transition: transform .3s ease-in-out;
  //transition: box-shadow .15s ease-out;
  box-shadow: -2px 2px 4px 0px rgba(80, 80, 80, 0.3);
  &:hover{
    box-shadow: -2px 2px 4px 0px rgba(80, 80, 80, 0.5);
  }
}

.bounce{
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes bounce {
  0%   {transform: translate3d(-40px,0,0);}
  35%  {transform: translate3d(-50px,0,0);}
  60%  {transform: translate3d(-40px,0,0);}
  85%  {transform: translate3d(-50px,0,0);}
  100% {transform: translate3d(-40px,0,0);}
}

.toolbox--text{
  display: inline;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: content-box;
  span{
    display: inline-block;
    width: 155px;
    transform: translate(0, 0) rotate(-90deg);
    transition: font-weight 0.15s ease-out;
    font-size: 23px;
    position: relative;
    left:-95px;
    top:50px;
  }
}

.toolbox--open {
  transform: translate3d(-290px,0,0);
}

.toolbox--list{
  list-style: none;
  padding:8px; 
}

.toolbox-item{
  font-size: 15px;
  display: inline-block;
  width: 32%;
  vertical-align: top;
  img{
    display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 10px;
    transition: transform 0.2s ease-out;
  }
  a{
    display: block;
    color: $black;
    height: 100%;
    line-height: 100%;
    text-align: center;
    transition: font-weight 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }
  a:hover{
    transform: scale(1.04);
    img{
      transform: scale(1.3);
    }
  }
}